<%= @pikachus.each do |pikachu| %>
  <div class="pikachu" style="animation: nudge <%= rand(2..20) %>s cubic-bezier(0.5, <%= rand(0.31..0.49) %>, 0.3, <%= rand(0.4..1.0) %>) <%= rand(-10..0) %>s infinite alternate;top:<%= rand(-10..10)%>px;left:<%= rand(0..20)%>px">
    <%= link_to 'Edit', edit_pikachu_path(pikachu), class: 'btn' %>
    <%= link_to 'Show', pikachu_path(pikachu), class: 'btn btn-right' %>
    <%= image_tag pikachu.image, size: "#{pikachu.size * 100 + 20}x#{pikachu.size * 100 + 20}" %>
    <p class="name" style="color:<%= pikachu.color %>"><%= pikachu.name %></p>
    <%= button_to 'Destroy', pikachu_path(pikachu), method: :delete, class: 'btn' %>
  </div>
<% end %>