<%= form_for @pikachu do |f| %>
  <p><%= f.text_field :name, placeholder: 'Name' %></p>
  <p><%= f.color_field :color %></p>
  <p><%= f.label :size %></p>
  <p><%= f.range_field :size, min: 1, max: 4 %></p>
  <p><%= f.radio_button :image, "http://rs421.pbsrc.com/albums/pp291/nin10dogirl/pikachu.gif~c200", checked: true %><%= f.label :image, "pixel-pikachu" %></p>
  <p><%= f.radio_button :image, "http://img02.deviantart.net/af9e/i/2012/038/d/9/pikachu___running_by_mnrart-d4oyj09.gif" %><%= f.label :image, "cartoon-pikachu" %></p>
  <p><%= f.radio_button :image, "http://vignette4.wikia.nocookie.net/fantendo/images/4/48/Pikachu_running_animation_by_cadetderp-d5407a9.gif/revision/latest?cb=20140430000041" %><%= f.label :image, "running-pikachu" %></p>
  <p><%= f.radio_button :image, "http://i291.photobucket.com/albums/ll285/Rock-the-beat/Pokemon%20Pics/pika1.gif" %><%= f.label :image, "3D-pikachu" %></p>
  <p><%= f.radio_button :image, "http://th539.photobucket.com/albums/ff357/chickenscorp/th_0000.gif" %><%= f.label :image, "ugly-pikachu" %></p>
  <p><%= f.submit 'I Choose You!' %></p>
<% end %>
